* {
	margin: 0;
	padding: 0;
}

button {
	width: 50px;
	height: 50px;
	position: absolute;
}

.tileContainer {
    width: 200px;
    height: 20px;
	position: absolute;
	margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

.tile {
	width: 20px;
	height: 20px;
	color: grey;
	float: left;
}